.corposite{
    color: aliceblue;
}



.cabecalho {
    background-image: linear-gradient(white,rgb(209, 209, 209));
    color: rgb(0, 0, 0);
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-image: linear-gradient(rgb(170, 170, 170),grey);
    color: aliceblue;
    padding: 100px;
    font-size: small;
}

.section2 {
    background-image: linear-gradient(rgb(170, 170, 170),grey);
    color: aliceblue;
    padding: 100px;
}

.cabecalho-img {
    width: 5%;
}

.rodape{
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
}